* {
    font-family: monospace;
}


body {
    background-color: lavender;
}

header {
   
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: skyblue; 
    text-align: center;
}

header, main, section {
    width: 75%;
    margin: auto;
}

img {
    width: 80%;
}

h1 {
    margin: 0%;
}

select, #review, input, button {
 border: 0;
 background-color: white;
 border-radius: 5px;
 box-shadow: 0 0 2px #7d7d7d;;
}

@media (max-width: 500px) {
  #reviews {
    display: none; 
  }
}

ol {
    display: none;
}